.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  width: 150px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.container .margin-bottom-10 {
  margin-bottom: 10px;
}
.container .margin-bottom-35 {
  margin-bottom: 35px;
}
.container .glyphicon {
  margin-right: 5px;
}
.container  .custom-bullet li {
    display: block;
    text-align: left;
    font-size: 16px;
}
.container  .custom-bullet li:before
{
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #CCCCCC;
}

.container .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container .list-group-item:hover .overlay {
  width: 100%;
}

.container .overlay .text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container .border-top{
  border-top: 1px solid #4aabe4;
  margin-top: 10px;
  padding-top: 10px;
}
